
body {
  background-color: #121212;
  color:black;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: azure;
    color:black;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 3px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: rgba(1, 16, 4, 0.612);
    border-radius: 0;
    border-bottom: 10px solid rgba(1, 16, 4, 0.612);
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 3px solid white;
    color:black;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #bdffd0;
    color:black;
  }
  
  .past {
    background-color: #eb8686;
    color: rgb(75, 75, 75);
    color:black;
  }
  
  .present {
    background-color: #fea680;
    color: white;
  }
  
  .future {
    background-color: #4f4f4f;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #bdffd0;
    color: white;
  }
  
  .saveBtn:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }